@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';


:root {
  --ui-color: hsl(43, 100%, 40%);
}


.dark {
  --ui-color: #f9ed7b;
}


* {
  --color-fd-primary: var(--ui-color);
}